/* :root {
    --light-bg: #ffffff;
    --dark-bg: #006064;
    --light-text: #ffffff;
    --dark-text: #006064;
} */

@import url('./vi-button.css');
@import url('./vi-table.css');

* {    box-sizing: border-box;}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{   
    color: var(--dark-text);
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}

h1{
    padding: 8px 0;
    font-weight: bold;
    
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-bg);
    color: var(--dark-text);
    line-height: 1;
    height: 100vh;
    font-size: 14px;
}

/* Fixed sidenav, full height */
.sidenav {
    height: calc(100vh - 60px);
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background: var(--light-bg);
    color: var(--dark-text);
    overflow-x: hidden;
    box-shadow: 2px 5px 7px var(--dark-bg);


}

/* Style the sidenav links and the dropdown button */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    
    color: var(--dark-text);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid var(--dark-text);
}

/* On mouse-over */


/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
  
    /* Increased text to enable scrolling */
    padding: 0 0 10px 0;
}

.pageHead {
    position: sticky;
    top:0;
    background: var(--light-bg);
    color: var(--dark-text);
    padding: 12px;
    vertical-align: middle;
    border-bottom: 1px solid var(--dark-text);

}

.h-60 {
    height: 60px;
}

.pageHead .logo{
    font-size: 28px;
    font-weight: 700;
    flex: auto;
    
}


.pageHead .right-menu{

}

.displayCode{
    width:100%;
    background:rgb(239, 239, 239);
    min-height:60px;
    border-radius:5px;
    padding:30px 20px;
   
}
.componentCard{
    background: white;
    margin: 0 0 20px 0;
    border-radius: 4px;
    border-bottom: 3px solid #8dd9ff;
}
.componentCard .title h1{
    padding:14px;
    border-bottom: 3px solid #8dd9ff;
    background-color: var(--dark-bg);
    color: var(--light-text);
}
.componentCard .child{
    padding:14px ;
   
}
.componentCard .display{
    padding:7px;
}
