@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('./vi-button.css');
@import url('./vi-table.css');
@import url('./vi-badge.css');


* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

h1 {
    padding: 8px 0;
    font-weight: bold;

}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-7);
    color: var(--text-color);
    line-height: 1;
    height: 100vh;
    font-size: 14px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Fixed sidenav, full height */
.sidenav {
    height: calc(100vh - 60px);
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0; 
    background: var(--clr-7);;
    overflow-x: hidden;
    box-shadow: -2px 4px 7px 1px var(--clr-9);
    border-right: 1px solid var(--clr-8);


}

/* Style the sidenav links and the dropdown button */
.sidenav a {
    padding: 10px;
    text-decoration: none;
    
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid var(--clr-8);
}

/* On mouse-over */


/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */

    /* Increased text to enable scrolling */
    padding: 0 0 10px 0;
}

.pageHead {
    position: sticky;
    top: 0;
    background: var(--clr-9); 
    padding: 12px;
    vertical-align: middle;
    border-bottom: 1px solid var(--clr-8);
    box-shadow: 0px 2px 14px -10px var(--clr-9);

    z-index: 99;

}

.h-60 {
    height: 60px;
}

.pageHead .logo {
    font-size: 36px;
    font-weight: 700;
    flex: auto;

}


.pageHead .right-menu {}
.pageHead .right-menu select {
    padding: 8px 15px;
}


.componentCard {
    background: var(--clr-7);
    margin: 0 0 20px 0;

    border-bottom: 3px solid var(--clr-8);
    border: 1px solid var(--clr-9);
}

.componentCard h1.title {
    padding: 14px;
    border-bottom: 1px solid var(--clr-8);
    background: var(--clr-8);
   
}

.componentCard .child {
    padding: 14px;
}

.componentCard .display {}

.componentCard .displayCode {
    width: 100%;
    background: var(--clr-9);
   
    min-height: 60px;
    padding: 30px 20px;
    border-top: 1px solid var(--clr-8);
}

div.accordian {
    position: relative;
}

.accordian .acc-toggle-checkbox {
    position: absolute;
    right: 18px;
    top: 8px;
    height: 20px;
    width: 20px;
    opacity: 0;
    visibility: 0;
}

.accordian label.vi-code-icon {
    position: absolute;
    right: 18px;
    top: 8px;
    cursor: pointer;
}

.accordian label.vi-code-icon:hover {
    opacity: 0.7;
}


.accordian div.accordian-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.accordian .acc-toggle-checkbox:checked~.accordian-content {
    max-height: 600px;
}