.vi-table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    display: block;
    border: 1px solid var(--clr-1);
    background-color: var(--clr-9);
    z-index: 1;
}

.vi-table th,
.vi-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--clr-1);
}

.vi-table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vi-table th{
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--clr-5);
}

.vi-table thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

.vi-table tbody {
    position: relative;
}

th.fixed-first,
th.fixed-last,
td.fixed-first,
td.fixed-last {
    position: sticky;
    z-index: 9;
    background-color: var(--clr-6);
}

th.fixed-first,
td.fixed-first {
    left: 0;
    border-right: 1px solid var(--clr-1);
}

th.fixed-last,
td.fixed-last {
    right: 0;
}

td.fixed-last .vi-more-vert-icon{
    font-size: inherit;
    
}
td.fixed-last:hover{
    background-color: var(--clr-4);
    cursor: pointer;
}

.th-action,
.td-action {
    text-align: center;
}

.td-action {
    max-width: 70px;
    min-width: 30px;
    width: 30px;
    text-align: center !important;
}

th span.vi-tune-icon{
    font-size: inherit;
    margin-left: 20px;
    display: inline;
    cursor: pointer;
   
}

.vi-table.small th,
.vi-table.small td {
    padding: 4px;
    font-size: 14px;
}

.vi-table.medium th,
.vi-table.medium td {
    padding: 8px;
    font-size: 16px;
}

.vi-table.large th,
.vi-table.large td {
    padding: 10px;
    font-size: 18px;
}

.vi-table.strip th,
.vi-table.strip td {
    border: 1px dashed var(--clr-1);
}


.vi-table.oddeven tr:nth-of-type(odd) {
    background-color: var(--clr-4);

}

.vi-table.vertical-divider th,
.vi-table.vertical-divider td {
    border: none;
    border-bottom: 1px solid var(--clr-1);
}




  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -183px;
    top: -23px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}